* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: 60px 1fr 80px;
  grid-template-areas: "headerarea" "mainarea" "footerarea";
  font-family: Inter;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  grid-area: headerarea;
  background-color: #6C81F0;
}

header .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "div div";
  height: 100%;
  width: calc(100vw - 32px);
  margin: 0 16px;
}

header .header-left {
  font-family: CaveatBrush;
  font-size: xx-large;
  display: flex;
  align-items: center;
  color: #ffd700;
}

header .header-right {
  text-align: right;
}

header .header-right .header-actions {
  gap: 16px;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

header .header-right .icon {
  width: 24px;
}

main {
  grid-area: mainarea;
  background-color: whitesmoke;
}

footer {
  grid-area: footerarea;
  background-color: #6C81F0;
}

footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "div div div";
  height: 64px;
  align-items: center;
  width: calc(100vw - 32px);
  margin: 0 16px;
}

footer .main-link {
  text-align: center;
  border-radius: 8px;
  padding: 2px 0;
}

footer .main-link span {
  display: block;
  font-size: small;
}

footer .main-link.selected {
  background-color: rgba(255, 255, 255, 0.25);
  filter: invert();
}

footer img {
  width: 32px;
}

main .content {
  height: calc(100vh - 60px - 80px);
  overflow-y: scroll;
}

main .new-releases {
  margin: 16px;
}

main .content-listing {
  margin: 0;
}

main .items-row {
  display: inline-flex;
  gap: 8px;
  margin: 0 16px;
}

main .items-container {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

main .items-container::-webkit-scrollbar {
  display: none;
}

main .item-card {
  width: 96px;
  height: 160px;
  text-align: center;
}

main .item-card span {
  font-size: small;
  text-overflow: ellipsis;
  height: 2em;
  white-space: nowrap;
  width: 80px;
  display: block;
  overflow: hidden;
  margin: 2px auto;
}

main .item-card .item-cover {
  width: 96px;
  background-position: center;
  background-size: cover;
  height: 128px;
  border-radius: 4px;
  position: relative;
}

main .item-card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.25) 100%);
  border-radius: 4px;
  overflow: hidden;
}

main .item-card .ranking {
  position: absolute;
  left: -12px;
  height: 48px;
  top: 72px;
}

main .item-card:first-child .ranking {
  left: -18px;
}

main .hero {
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
}

main .hero span {
  display: block;
  padding: 4px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  color: white;
  font-size: small;
  font-weight: 600;
}

h2 {
  font-size: medium;
  margin: 0 0 8px 0;
}

main .content-listing h2 {
  margin: 0 0 8px 16px;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  width: 24px;
}

.empty-message {
  text-align: center;
  display: flex;
  justify-content: center;
}

.empty-message span {
  padding: 16px;
  margin: 32px 0;
  background: #dedede;
  border-radius: 8px;
}